
body{
	margin: 0;
	padding: 0;
}
/*header start*/

header{
	background-color: #121B2A;
	padding: 10px 0 2px 0;
	box-shadow: 0 10px 5px #121B2A;

}

.wrapper {
	overflow: hidden;
	width: 80%;
	
	margin: 0 auto;


}

.logo {
	width: 20%;
	
	float: left;
}
.logo img{
	width: 100%;

}
.menu {
	width: 70%;
	
	float: right;
	margin-top: 40px;
}
.menu ul{
	list-style: none;
	float: right;

}
.menu ul li{
	float: left;

}
.menu ul li a{
	font-family: sans-serif;
	font-size: 18px;
	color: white;
	text-decoration: none;
	padding: 0 20px;
	display: block;
	transition: .5s;
}
.menu ul li a:hover{
	color: #0078BD;
}
.menu ul li:last-child a{
	padding-right: 0;
	}
.logo1{
	width: 5%;
	float: right;
}
.logo1 img{
	margin-right: 1000px;

}
/*header end*/


/*banner start*/
.banner{
	background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.bcontent{
    width: 50%;
    margin-top: 200px;
    margin-bottom: 90px;

}
.bcontent h1{
	font-family:sans-serif; ;
	font-size:40px ;
	color: white;
	margin: 0;

}
.bcontent h2{
	font-family: sans-serif;
	font-size: 45px;
	color: #0076B6 ;
	margin:0 ;

}
.bcontent p{
	font-family: sans-serif;
	font-size: 20px;
	color: white ;
	margin: 5px 0 20px;
	line-height: 30px;

}
.bcontent button{
	font-family: sans-serif;
	font-size: 30px;
	color: #595959;
	width: 250px;
	height: 50px;
	background-color: white;
	border: none;
	border-radius: 5px;
	transition: .5s;

}
.bcontent button:focus{
	outline: none;

}

.bcontent button:hover{
	color: #0079BE;

}
/*banner end*/
/*service start*/
.service {
	background-color: #121B2C;
	padding: 30px 0 10px;
}

.wireless {
	width: 29%;
	border-right: 1px solid white;
	padding: 15px 10px 35px 15px;
	float: left;
	margin-left: 1%;

}
.wireless:last-child{
	border-right: none;
}

.top {
	overflow: hidden;
	
}

.wimage {
	width: 25%;
	float: left;

}
.wimage img{
	width: 100%;
	width: 65px;
	height: 79px;

}

.wtext{
	width: 65%;
	float: left;
	margin-top: 10px;
	display: inline-block;
	padding: 0 0;
}
.wtext h2{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 25px;
	color: white;
	text-transform: capitalize;
	margin:0 0 0;
}
.wtext h3{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 25px;
	color: #0079BC;
	text-transform: capitalize;
	margin:0 0 0;
}
..wtext h3:last-child{
	color: red;
}
.bottom {

}
.bottom p{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: white;
	margin:15px 0 0;
}
/*service end*/